.header {
  .btn-login {
    border-radius: 20px;
    width: 100px;
    margin-left: 10px;
    float: right;
  }
  .btn-signup {
    border-radius: 20px;
    width: 100px;
    float: right;
  }
  .mid-section{
    background: #ff6933;
    height: 100px;
    margin-top: 10px;
  }
}
