.homePage {
  h2 {
    margin-top: 2rem;
    margin-left: 2rem;

  }
  .btn-login{
    border-radius: 20px;
    width: 100px;
    margin-left: 10px;
    float: right;
  }
  .btn-signup{
    border-radius: 20px;
    width: 100px;
    float: right;

  }
  .subreaditsSection,
  .usersSection {
    margin-left: 2rem;
  }

}
